{% extends 'base.html.twig' %}

{% block body %}
<h1> {{ title }} </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio eveniet libero mollitia, a aut incidunt soluta nobis recusandae placeat quam officiis sint modi quisquam assumenda est suscipit deleniti dolor atque! Et ipsam excepturi sapiente maiores! Illum provident aut explicabo.</p>
<p>Doloribus dolorum hic possimus sequi voluptate sapiente voluptatem maxime suscipit! Earum tempora eos, veritatis vel deleniti dolorum! Alias blanditiis ut obcaecati vero nulla! Tenetur molestias id autem similique iusto blanditiis, dolore doloremque sequi officiis assumenda quis, tempore, nihil illum debitis.</p>
{% endblock %}
